body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: rgb(245, 234, 230);
    background: url(/img/mainp2.png) 0.85%;
    
}
header{
    padding: 0;
    margin: 0;
    background-color: bisque;
}
.logo{
    display: flex;
    background-color: bisque;
    text-align: center;
    text-decoration: none; 
}
.logo p{
    display: flex;
    justify-content: center;
    margin-left: 600px;
    size: 40px;
    color: brown;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style:unset;
    text-decoration-thickness:unset;
    font-size: 40px;
    text-align: center;
    align-items: center;
     
}
.logo p:hover{
color: rgb(87, 3, 3);
}
.menu_list {
    display: flex;
    gap: 50px;
    list-style-type: none;
    
}


.menu_list_link{
    text-decoration: none;
    color: white;
    
    
}
.menu_list_link:hover{
    color: rgb(82, 11, 11);
}

.header_menu_list {
    min-width: 153px;
    background-color: #7B6152;
    color: #fff8f3;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px 0;
  padding: 20px 20px;
    right: 0;
    top: -200%;   
}
.main {
    background-color: transparent;
    text-align: center;
    padding: 20px 20px;
   
}
.main p, h3, h4, label {
    color: #333;
}
.main h3, h4{
    color: #860637;
    font-size: 25px;
}
.main p{    
   font-size: 25px;
  text-align: left;    
}
.main h3{
    color: #940606;
    font-size: 35px;
    margin-bottom: 20px;
}

.reviews{
    padding: 40px 0 150px;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.reviews_inner {
    display: flex;
    flex-direction: column;
    margin-top: 50px ;
    margin-bottom: 50px;
    padding: 0 50px;
    border:solid;
    border-radius: 10%;
    border-color: #6f37a3;
    width: 600px;
    background-color: blanchedalmond;
}
.reviews_name {
    font-weight: bold;
}

.reviews_text {
    margin: 5px 0;
}

.reviews_name_designer {
    font-style: italic;
    color: darkslategray;
}

.reviews_form {    
    padding: 15px;
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 800px;
    height: 450px;
    margin-top: 50px;
}

.reviews_form h4 {
    margin-bottom: 15px;
    font-size: 17px;
}

.reviews_form label {
    display: block;
    margin-bottom: 5px;
    font-size: 17px;
}

.reviews_form input,
.reviews_form textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #333;
    border-radius: 4px;
}

.reviews_form button {
    padding: 18px 54px;
    background-color: #77250c;
    font-size: 17px;
    font-weight: 600;
    border-radius: 50px;
    color: #e4e4e4;
    box-shadow: 0 4px 6px rgba(65, 132, 144, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.reviews_form button:hover {
    background-color: #47013e; 
}
#designerID{
    width: 50px;
}
footer {
    padding-top: 40px;
    padding-bottom: 35px;
    background-color: white;
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: #6f37a3;
 text-align: center;
    padding: 10px 0;
     width: 100%;
      bottom: 0;
     position:relative;
     text-decoration: none;
}
.footer p a, a{
    text-decoration: none;
    color: #6f37a3;

}
.footer p a,a:hover{
    text-decoration: none;
    color:white;
    
}

